# build output
dist/
.astro/
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment
.env
.env.production
.dev.vars

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
